{usersfolder,"/home/bgrusnak/projects/eronide/priv/users"}.
{rebar,"/home/bgrusnak/rebar"}.
{ptemplatesfolder,"/home/bgrusnak/projects/eronide/priv/ptemplates"}.
{adminlogin,<<"admin">>}.
{adminpass,<<"admin">>}.
{host,"192.168.0.106"}.
{port,"8080"}.
{users,[{user,<<"me@mail">>,<<"pass">>,0,<<>>,10,20971520},
        {user,<<"tester@test">>,<<"test">>,0,<<>>,10,20971520},
        {user,<<"guest">>,<<"guest">>,0,<<>>,10,20971520}]}.
{ptemplates, [
	[{name, "Empty template"}, {key, "empty"}, {icon, "Blank_template.png"}, 
		{description, "An absolutely empty project.<br>It's very suitable for clean start"}, {fields, [
			[{name, "name"}, {caption, "New project name"}]
		]}],
	[{name, "Erlang/OTP template"}, {key, "eotp"}, {icon, "erlang.jpg"}, {source, "erlang-otp.tar.gz"}, 
		{description, "Erlang/OTP project.<br>Rebar friendly and depedency clean."}, {nameholder, "Sample"}, {processfiles, [
		"README.md", "start.sh", "src/Sample.app.src", "src/Sample_app.erl", "src/Sample_sup.erl"
		]},
		{fields, [
			[{name, "name"}, {caption, "New project name"}],
			[{name, "port"}, {caption, "Server port"}]
		]}]
]}.
{filetypes, [
	[{name, "Erlang"}, {items, [
		[{name, "Erlang source file"}, {type, "erl"}], 
		[{name, "Erlang header file"}, {type, "hrl"}]
	]}],
	[{name, "Web"}, {items, [
		[{name, "Html file"}, {type, "html"}], 
		[{name, "CSS file"}, {type, "css"}], 
		[{name, "JavaScript file"}, {type, "js"}], 
		[{name, "DTL file"}, {type, "dtl"}]
	]}]
]}.
{projectports, ["8090", "8091"]}.
{icons, [
	{<<".erl">>, <<"360_ico.png">>},
	{<<".hrl">>, <<"360_ico.png">>}
]}.
