{deps, [
	{sync, "", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
	{lager, "", {git, "git://github.com/basho/lager.git", "HEAD"}},
	{mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
	{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
	{cowboy, "", {git, "git://github.com/extend/cowboy.git", "master"}},
	{mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
	{erlydtl, "", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}}
]}.

