{projects,[[{project,[{name,<<"Empty">>},
                      {icon,<<"Blank_template.png">>},
                      {port,<<"8090">>},
                      {description,<<"An absolutely empty project.<br>Just for fun">>}]}],
           [{project,[{name,<<"Sample">>},
                      {icon,<<"erlang.jpg">>},
                      {port,<<"8091">>},
                      {description,<<"Sample Erlang/OTP project.">>}]}],
           [{project,[{name,<<"test9">>},
                      {icon,<<"Blank_template.png">>},
                      {description,<<>>}]}],
           [{project,[{name,<<"project10">>},
                      {icon,<<"Blank_template.png">>},
                      {description,<<>>}]}],
           [{project,[{name,<<"test2">>},
                     {icon,<<"Blank_template.png">>},
                     {description,<<>>}]}]]}.
